
/*for body box */

body{
    background-color: black;
}
.body{
display: flex;
gap: 12px;

}

/*for top box */

.top{
    border: 0x solid white;
    width: 90vw;
    height: 15vh;
    display: flex;
      align-items: center;          /* vertical center */
  justify-content: space-between;
  padding: 0 20px;              
    
    
}
.top img{
    height: 90px;
    margin: 0px;
    padding: 0px;
}
.top h1{
    color:white;
     margin: 0 20px;
}
.searchbar{
  flex: 1;                      /* takes middle space */
  display: flex;
  justify-content: center;
}
.top input{
    padding: 12px 12px;
    width:250px;
    border: none;
    border-radius: 32px;
      transition: width 0.3s ease;
      font-size: 14px;
    

}
.lsbuttons{
    

display: flex;
gap: 8px;

}
.lsbuttons button {
  padding: 12px 18px;          /* equal, smaller padding */
  font-size: 14px;            /* smaller text */
  border: none;
  border-radius: 20px;        /* pill shape */
  cursor: pointer;
  font-weight: 600;
  background-color: #ff4081;  /* pink example */
  color: white;
  transition: background-color 0.3s ease;
}

.lsbuttons button:hover {
  background-color: #e73370;  /* darker pink on hover */
}
/*for left box */
.left {
    border: 2px solid black;
    width: 25vw;
    height: 90vh;
    margin-top: 1%;
    border-radius: 12px;
    background-color: rgb(35, 28, 28);

     display: flex;
     flex-direction: column;
    
}
.leftheader{
    display: flex;
    justify-content: space-between;
}

.leftheader h3 {
    margin: 12px 12px;
    color: white;
    
}

.plus {
    width: 20px;
    height: 20px;
    filter: invert();
    cursor: pointer;
    margin:12px 12px
}





.songlist {
    border:  2px solid black;
    height: 270px;
    width: 80%;
    margin: auto;
    background-color: #322b2b;
    padding: 10px;
    border-radius: 8px;   
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
 overflow: auto;
}




.songlist h2,
.songlist h4,.songlist h3 {
    color: white;
    margin: 5px 0;
    font-family: sans-serif;
}
.songlist>button{
    
    border-radius: 50%;
    padding-top: 12px;
    padding-bottom: 12PX;
    padding-left: 18px;
    padding-right: 18px;
    font-weight: 800;
margin:0;
    cursor: pointer;
}
.songlist button:hover{
    background-color: antiquewhite;
    transition: 0.5s ease-in;
}
 
.songlist li{
    color: white;
    cursor: pointer;
}
.songlist li:hover{
    background-color: rgb(219, 163, 163);
    border-radius: 10px;
    transition: 1s ease-in;
    
}

/*for right box */
.right{
border:2px solid black;
width:70vw;
height: 90vh;
margin-top: 1%;
border-radius: 12px;
background-color: #1a1f1a;

}
.singerspic{
   width: 100%;      
  height: 70%;     
  
  object-fit: cover;
  border-radius: 50px;
}

.controls{

  position: absolute;
    bottom: 20px;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 40px;


}
.controls img{
    width: 50px;
    height: 50px;
    cursor: pointer;
  filter: invert(1);  
  transition: filter 0.1s ease-in;
}

#previous{
width: 55px;
height: 55px;
}
#next{
    width: 45px;
height: 45px;
}
.controls #previous:hover {
  filter: invert(39%) sepia(96%) saturate(300%) hue-rotate(90deg);
}
.controls #next:hover {
  filter: invert(39%) sepia(96%) saturate(300%) hue-rotate(90deg);
}
.progresscontainer{
    
  width: 62%;
  position: absolute;
  bottom: 1px;
  left: 65%;  
  transform: translateX(-50%);
  
}
.progressbar{
    width: 100%;
    height: 6px;
      background: #444;
      border-radius: 3px;
      position: relative;
      cursor: pointer;
}
.progressfill{
    height: 100%;
    width: 0%;
    background: pink;
    border-radius: 3px;
}
.progressball{
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 50%;
    position: absolute;
     top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-out;
  cursor: pointer;
}

.volumecontainer{
border: 0px solid red;
position: absolute;
bottom: 10px;
right: 50px;
  display: flex;
    align-items: center;
    gap:2px;
    width: 11%;
}
.volumecontainer img{
    height: 20px;
    width: 20px;
    cursor: pointer;
    filter: invert();

}
.volumebarcontainer{
    width: 90px;
     height: 6px;
    background-color: #444;
    border-radius: 3px;
    cursor: pointer;
}
.volumebar{
      width: 50%;        /* initial volume fill */
    height: 100%;
    background-color: pink;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s ease-out;
}

